.container{
    background-color: purple;
width:200px;

border-left-width: 5px;
border-left-color: green;
border-left-style: solid;
}
#Heading{
    font-size: 20px;
    color: white;
    padding: 10px;
    text-decoration: underline;
}
